
@import url('https://fonts.googleapis.com/css2?family=Federo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
	font-family: "Montserrat";
	font-size: 22px;
	padding: 42px;
	line-height: 165%;
	background-color: #191818;
	color:#E7E6E6
}
header {
	margin-left: 2%;
	margin-top: 2%;
}
#smallertitle {
	margin-left: 0%;
	margin-bottom: 4px;
	font-family: "Federo";
	font-size: 32px;
}
.author {
	margin-left: 0%;
	color:#817f7f
	font-family: "Montserrat";
	margin-bottom: 4px;
}
#design {
	font-size: 103px;
	letter-spacing: 1%;
	margin-bottom: 60px;
}
#andcrime {
	font-size: 100px;
	margin-bottom: 36px;
	font-family: "Federo";
	color: #ED4A34;
}
#and {
	font-family: "Montserrat";
	color: #E7E6E6;
}
h1 {
	font-size: 100px;
	color: #f1f1f1;
}
#crime {
	color: #ED4A34;
	font-family: "Federo"
}

.introduction-paragraph {
	color: #E7E6E6;
	margin-left: 35%;
	margin-right: 5%;

}
p {
	max-width: 65ch;
	margin-bottom: 20%;
	margin-left: 5%;
}
.second-paragraph {
	margin-bottom: 2%;
}
#text-highlight1 {
	color: #ED4A34;
}
.fourth-paragraph {
	margin-bottom: 2%;
	margin-left: 30%;
	margin-right: 6%;
}
#text-highlight2 {
	color: #ED4A34;
}
.fifth-paragraph {
	margin-left: 30%;
	margin-right: 10%;
}
.sixth-paragraph {
	margin-bottom: 2%;
}
.seventh-paragraph {
	font-size: 26px;
	margin-right: 30%;
	color:#ED4A34
}
.para-eight {
	margin-bottom: 2%;
	margin-left: 30%;
	margin-right: 5%;
}
.para-nine {
	font-size: 42px;
	line-height: 164%;
	margin-left: 30%;
	margin-right: 5%;
	margin-bottom: 30%;
}
.para-ten {
	margin-bottom: 2%;
	margin-right: 30%;
}
.para-eleven {
	margin-bottom: 2%;
	font-size: 42px;
	line-height: 164%;
}
#text-highlight3 {
	color: #ED4A34;
}
#text-highlight4 {
	color: #ED4A34;
}
.para-twelve {
	margin-bottom: 30%;
	margin-right: 30%;
}
.para-thirteen {
	margin-left: 30%;
	margin-right: 5%;
}
.para-fourteen {
	margin-bottom: 2%;
}
.para-sixteen {
	margin-left: 30%;
	margin-right: 5%;
	margin-bottom: 30%;
}
h2 {
	font-size: 100px;
	margin-left: 2%;
}
.mytake {
	font-family: "Montserrat";
	font-size: 68px;
	margin-bottom: 40px;
	color:#E7E6E6
	
}
#the {
	font-family: "Montserrat";
	color:#E7E6E6
}
.thereading {
	color: #ED4A34;
	font-size: 64px;
	margin-bottom: 4%;
	font-family: "Federo"
}
.response-para-one {
	margin-left: 40%;
	margin-right: 6%;
	margin-bottom: 20%;
}
.response-para-two {
	margin-bottom: 4%;
}
#highlight-text-response1 {
	color: #ED4A34;
}
.response-para-three {
	margin-bottom: 30%;
}
#highlight-text-response2 {
	color: #ED4A34;
}
.response-para-four {
	margin-left: 40%;
	margin-right: 6%;
	margin-bottom: 40%;
}
.response-para-five {
	margin-bottom: 4%;
	margin-right: 30%;
}
#highlight-text-response3 {
	color: #ED4A34;
}
.response-para-six {
	margin-right: 30%;
}